.question-markdown-comp>pre>code {
    background-color: #f6f8fa;
    border-radius: 6px;
    display: block;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    word-wrap: normal;
    color: #000;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
}

p>code,
li>code,
dd>code,
td>code {
    background: #f6f8fa;
    color: #131212;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
    width: 75vw;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

.question-navbar {
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
    font-family: 'Roboto', 'PT sans', sans-serif;
    font-weight: 700;
}

.question-navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    max-width: 100vw;
}

.question-nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: start;
}

.question-nav-item {
    height: 80px;
}

.question-nav-links {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.question-nav-links:hover {
    border-bottom: 4px solid #000;
    transition: all 0.2s ease-out;
}

.question-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.question-problem-markdown {
    background-color: #d6d3d3;
    width: 80vw;
    display: flex;
    justify-content: center;
}

.question-markdown-comp {
    width: 75vw;
}

.code-editor {
    width: 80vw;
}

.question-title {
    width: 80vw;
}

.question-buttons {
    margin-top: 1vw;
    width: 80vw;
}

.question-buttons Button {
    margin-right: 1vw;
}

.question-input {
    width: 80vw;
}

.problem-outputs {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.submissions-card {
    width: 80vw;
    display: flex;
    flex-direction: column;
    background-color: #d6d3d3;
    margin-bottom: 2vw;
}

.submissions-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 2vw;
}

.submissions-card-header Button {
    margin-right: 4vw;
}

.submissions-card p {
    margin-left: 2vw;
}

select {
    outline: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    border: #777;
}

select::-ms-expand {
    display: none;
}

.select {
    width: 15vw;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

.select-container {
    width: 80vw;
}

:root {
    --select-border: #16e16e;
    --select-focus: #16e16e;
    --select-arrow: var(--select-focus);
}

.select::after {
    justify-self: end;
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select,
.select:after {
    grid-area: select;
}