.question-markdown-comp>pre>code {
    background-color: #1e1e1e;
    border-radius: 6px;
    display: block;
    font-size: 1vw;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    word-wrap: normal;
    color: #f9f9f9f9;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
}

.question-markdown-comp p, .question-markdown-comp li {
    font-size: 1vw;
}

p>code,
li>code,
dd>code,
td>code {
    background: #1e1e1e;
    color: #f9f9f9f9;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1vw .3vw .2vw;
    border-radius: .2vw;
    width: 75vw;
}

.navar-min-80 {
    width: 80vw;
    font-size: 1vw;
}

.question-all-root h3 {
    font-size: 1.5vw;
    color: #fff;
}

.question-all-root h4 {
    font-size: 1.2vw;
}

.question-all-root h5 {
    font-size: 1vw;
}

.question-navbar {
    font-size: 1.2vw;
    top: 0;
    z-index: 999;
    font-family: 'Roboto', 'PT sans', sans-serif;
    font-weight: 700;
}

.question-navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vw;
    max-width: 100vw;
}

.question-nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 1vw;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: start;
}

.question-nav-item {
    height: 8vw;
}

.question-nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5vw 1vw;
    height: 100%;
}

.question-nav-links:hover {
    border-bottom: 4vw solid #16e16e;
    transition: all 0.2s ease-out;
}

.question-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.question-problem-markdown {
    background-color: #111111;
    color: #f1f1f1;
    width: 80vw;
    display: flex;
    justify-content: center;
    border-radius: 1vw;
}

.question-markdown-comp {
    width: 75vw;
}

.code-editor {
    width: 80vw;
    padding: 1.5vw;
    border-radius: 1vw;
    background-color: #1e1e1e;
    font-size: 1vw;
}

.question-problem-markdown h4 {
    font-size: 1.2vw;
}

.question-problem-markdown h5 {
    font-size: 1vw;
}

.question-title {
    width: 80vw;
    font-size: 2.5vw;
}

.question-buttons {
    margin-top: 1vw;
    width: 80vw;
}

.question-buttons Button {
    margin-right: 1vw;
    width: max-content;
    font-size: 1vw;
}

.question-input {
    width: 80vw;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
}

.problem-outputs {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.problem-outputs p {
    font-size: 1vw;
}

.submissions-card {
    width: 80vw;
    display: flex;
    background-color: #111111;
    border-radius: 1vw;
    margin-bottom: 2vw;
}

.submissions-card-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2vw !important;
    margin: 0;
    padding: 0;
}

.submissions-card-header Button {
    margin-right: 4vw;
}

.submissions-card-header h4, .submissions-card-header h2 {
    color: #fff;
    font-size: 1.2vw;
}

.submissions-card-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 80vw;
    margin-right: 2vw !important;
}

.submissions-card p {
    color: #fff;
    font-size: 1vw;
}

.submission-card-status {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 1vw;
}

select {
    outline: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    border: #16e16e;
    color: #fff;
}

select::-ms-expand {
    display: none;
}

.select {
    width: 15vw;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25vw;
    cursor: pointer;
    line-height: 1.1;
    color: #f1f1f1;
    background-image: linear-gradient(to top, #111111, #111111 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

.select-container {
    width: 80vw;
}

:root {
    --select-border: #16e16e;
    --select-focus: #16e16e;
    --select-arrow: var(--select-focus);
}

.select::after {
    justify-self: end;
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select,
.select:after {
    grid-area: select;
}

option {
    background-color: #111111;
    color: #fff;
    margin-left: 1vw;
}

.question-all-root {
    background-color: #090909;
    min-height: 100vh;
}

.question-all-root h2 {
    color: #fff;
    font-size: 1.5vw;
}

.question-all-root h1 {
    color: #16e16e;
}

.question-all-root p {
    color: #fff;
}

.question-quicknav-link {
    color: #fff;
    text-decoration: none;
}

.question-quicknav-link:hover {
    color: #16e16e;
    text-decoration: underline;
    text-underline-offset: 1vw;
}

textarea {
    border-radius: 0.3vw !important;
    background-color: #121212;
    color: #f1f1f1;
    padding: 1vw;
    font-size: 1vw;
}

.question-nav-menu {
    font-size: 1.5vw;
}

@media screen and (max-width: 760px) {
    .select {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .submissions-card-header h4, .submissions-card-header h2 {
        color: #fff;
        font-size: 1.2rem;
    }
    .submissions-card p {
        color: #fff;
        font-size: 1rem;
    }
}