.submission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submissions-card {
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: flex;
    min-height: 2vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.submissions-card Button {
    margin-right: 1vw;
}