.submission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submissions-card {
    padding: 3vw;
    display: flex;
    height: 4vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.submissions-card Button {
    margin-right: 4vw;
}