<div class="formmy">
    <label for="ques">QuesId: </label>
    <input type="text" placeholder="ques" id="ques" class="ques">

    <label for="input">TestCase Input: </label>
    <textarea cols="30" rows="10" type="text" placeholder="TestCase Input" id="input" class="input"></textarea>

    <label for="output_compare">TestCase Output: </label>
    <textarea cols="30" rows="10" type="text" placeholder="output_compare" id="output_compare" class="output_compare"></textarea>
    <br><br>
    <button onclick="submitQues()">submit</button>
</div>

<script>
    async function submitQues() {
        var ques = document.getElementById('ques').value;
        var input = document.getElementById('input').value;
        var output_compare = document.getElementById('output_compare').value;
        var data = {
            id: ques,
            input: input,
            output_compare: output_compare
        };
        await fetch('/admin/question/testcase', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(async function (response) {
            console.log(await response.json());
        });
    }
</script>

<style>
    .formmy {
        display: flex;
        flex-direction: column;
        width: 720px;
    }
</style>