<ul>
    <li><a href="/admin/practise">Add Practise Section</a></li>
    <li><a> Add Event Section </a></li>
    <li><a href="/admin/question">Add Question</a></li>
    <li><a href="/admin/question/testcase">Add Question Testcases</a></li>
    <li><a>Ban User</a></li>
</ul>