.login-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    font-family: 'Railway', sans-serif;
    background-color: #000;
    color: #16e16e;
}

.login-form-div {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.login-input {
    height: 2.5vw;
    border: 0.1vh solid #d3d3d3;
    border-radius: 0.4vw;
    font-size: 1.2rem;
    margin-bottom: 1.5vw;
}

.login-input-text {
    margin-bottom: 0.5vw;
    font-size: 1.2rem;
}

.login-submit {
    margin-top: 1.2vw;
    height: 3.5vw;
    background-color: #16e16e;
    border-radius: 0.4rem;
    border: none;
    font-size: 1.2rem;
    color: white;
}
.login-submit:hover {
    background-color: #fafafa;
    transition: 500ms;
    color: #000;
}

.discord-button {
    width: 50vw;
}

@media screen and (max-width: 960px) {
    .login-input {
        height: 8vw;
        border-radius: 2vw;
    }

    .login-form {
        width: 70vw;
    }

    .login-submit {
        height: 10vw;
    }
}