* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html {
    --loading: #00ae40
}

body {
    margin: 0;
    padding: 0;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    width: 100%;
    filter: blur(1px);
}

.min-height {
    margin-top: 0px !important;
    min-height: calc(100vh + 80px);
    background-color: #000;
}
