.code-ans>pre>code {
    background-color: #f6f8fa;
    border-radius: 6px;
    display: block;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    word-wrap: normal;
    color: #000;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
}

.Submission-top-level-container h3 {
    color: #fff;
}

.Submission-top-level-container a {
    color: #16e16e;
    text-decoration: none;
}

.Submission-top-level-container a:hover {
    color: #16e16e;
    text-decoration: underline;
}


.Submission-top-level-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #010101;
}

.middle-contain-submission {
    border-radius: 1vw;
    background-color: #fff;
    display: flex;
    width: 80vw;
    flex-direction: column;
}

.code-ans {
    margin-left: 3vw;
    margin-right: 3vw;
}

.Submission-top-level-container h1 {
    width: 80vw;
}

.accepted-container {
    display: flex;
    width: 80vw;
}

.Accepted {
    color: #16e163;
}

.Not-Accepted {
    color: #f80101;
}

.testcase-container {
    line-height: 0.5;
    margin: 0;
    display: flex;
    width: 80vw;
    flex-direction: column;
}

.testcase-card>pre>code {
    background-color: #f6f8fa;
    border-radius: 6px;
    display: block;
    font-size: 85%;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    text-align: left;
}

.download {
    color: #097bbf;
    font-size: 1rem;
}

.download-accepted-container {
    display: flex;
    align-items: center;
    height: max-content;
    width: 80vw;
}

.download:hover {
    text-decoration: underline;
    cursor: pointer;
}

.submission-question-root {
    background-color: #000;
}