.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Railway', sans-serif;
    background-color: #000;
    color: #16e16e;
    min-height: 100vh;
}

.register-form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-redirect {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 1.2vw;
}

.register-redirect:hover {
    text-decoration: underline#16e16e;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.register-input {
    height: 2.5vw;
    border: 0.1vh solid #d3d3d3;
    border-radius: 0.4vw;
    padding: 1vw;
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
}

.register-input:focus {
    outline: none;
}

.register-input-text {
    margin-bottom: 0.5vw;
    font-size: 1.2vw;
}

.register-submit {
    margin-top: 1.5rem;
    height: 3.5vw;
    background-color: #16e16e;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.2vw;
    color: white;
}

.register-submit:hover {
    background-color: #fafafa;
    transition: 500ms;
    color: #000;
}

.register-redirect-p {
    font-size: 1.2vw;
}

@media screen and (max-width: 960px) {

    .register-input-text, .register-redirect, .register-redirect-p {
        font-size: 1.2rem;
    }

    .register-input {
        height: 8vw;
        border-radius: 2vw;
    }

    .register-form {
        width: 70vw;
    }

    .register-submit {
        height: 10vw;
        font-size: 1.2rem;
    }
}