:root {
  --primary: #fff;
}

.btn {
  padding: 0.8vw 1.2vw;
  border-radius: 0.5vw;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--primary--black {
  background-color: #00ae40;
  color: #fff;
  border: 1px solid #00ae40;
  border-radius: 0.2vw;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 0.8vw 2vw;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 0.8vw 2vw;
  font-size: 1.2vw;
}

.btn--large {
  padding: 1.2vw 2.6vw;
  font-size: 2vw;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}