@import url('https://fonts.googleapis.com/css2?family=Poppins');

.main-heading {
    padding-top: 1vw;
    font-weight: bold;
    font-size: 2.5vw;
    color: rgb(22, 225, 110);
}

.guidelines-bg {
    background-image: url(https://cdn.discordapp.com/attachments/859672291557638154/950758831422603305/Group_30.png);
    background-size: 50vw;
    background-repeat: no-repeat;
    background-position: bottom -100px right -100px;
}

#guidelines {
    width: max-content;
    margin: auto;
}

.rules-head {
    width: min-content;
    padding-top: 1vh;
    font-size: 3rem;
    font-weight: bold;
    font-family: myFirstFont !important;
    font-weight: 100;
}

.rules-head::after {
    content: "";
    display: block;
    width: 70%;
    height: 3px;
    background-color: #fff;
    margin: 0 0 0 auto;
}

.rules {
    font-size: 1.2vw;
    width: 60vw;
    margin-left: -2.5vw;
    margin-bottom: 0;
    padding-bottom: 10vw;
    list-style-type: none;
}

.rules li {
    padding-top: 2vh;
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem;
}

.rules>li:before {
    content: "-";
    color: #16e16e;
    margin-right: 5px;
}

.index-root {
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-container {
    height: 40vh;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;

}

.landing-root {
    height: 100vh;
    display: flex;
    align-items: center;
}

.landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 30vw;
}

.landing-redirects {
    display: flex;
    justify-content: space-between;
}

.landing-head-img {
    display: flex;
    align-items: center;
    width: 30rem;
    justify-content: center;
}

.landing-head {
    font-size: 5rem;
    font-family: myFirstFont !important;
    font-weight: bold;
    color: #16e16e;
}


.landing-content a {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #fff;
}

@font-face {
    font-family: myFirstFont;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format('woff2');
}

@media screen and (max-width: 768px) {
    .landing-container {
        flex-direction: column;
        height: 60vh;
    }
    .rules {
        width: 80vw;
        margin-left: -10vw;
    }

    .rules-head {
        font-size: 2.5rem;
    }

    .rules li {
        font-size: 1.2rem;
    }

    .guidelines-bg {
        background-size: 100vw;
        background-position: bottom -40px right -40px;
    }

}